Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: All
BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: false
ColumnLimit: 0
PackConstructorInitializers: Never
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseBlocks: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
InsertBraces: true
IndentWidth: 4
# SpacesInParens: SIPO_Never
SpaceBeforeCpp11BracedList: true
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: false
SpaceBeforeCaseColon: false
UseTab: Never
MaxEmptyLinesToKeep: 1
SpaceAfterTemplateKeyword: true
# SkipMacroDefinitionBody: true
StatementMacros: [HYP_CLASS]
AttributeMacros: ['HYP_DEPRECATED', 'HYP_NODISCARD', 'HYP_API', 'HYP_FORCE_INLINE', 'HYP_ATTRIBUTE', 'HYP_ATTRIBUTE_OPTIONAL', 'DECLARE_BUFFER', 'DECLARE_BUFFER_DYNAMIC', 'DECLARE_SRV', 'DECLARE_UAV', 'DECLARE_SAMPLER']
# Macros: ['HYP_FORCE_INLINE=inline', 'HYP_OBJECT_BODY=', 'HYP_CLASS(...)=', 'HYP_STRUCT(...)=', 'HYP_ENUM(...)=', 'HYP_FIELD(...)=', 'HYP_PROPERTY(...)=', 'HYP_METHOD(...)=']
